@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  max-width: 20px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00fff0), color-stop(#00f0fc), color-stop(#00e0ff), color-stop(#00ceff), color-stop(#00bcff), color-stop(#47b4ff), color-stop(#6fabff), color-stop(#92a0ff), color-stop(#aaa0ff), color-stop(#c29fff), color-stop(#d89eff), to(#ee9dff));
  background-image: linear-gradient(#00fff0, #00f0fc, #00e0ff, #00ceff, #00bcff, #47b4ff, #6fabff, #92a0ff, #aaa0ff, #c29fff, #d89eff, #ee9dff);
  -webkit-box-shadow: inset 2px 2px 5px 0 rgba(34, 34, 34, 0.5);
          box-shadow: inset 2px 2px 5px 0 rgba(34, 34, 34, 0.5);
  border-radius: 10px;
}

body {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#ee9dff), color-stop(#d89eff), color-stop(#c29fff), color-stop(#aaa0ff), color-stop(#92a0ff), color-stop(#6fabff), color-stop(#47b4ff), color-stop(#00bcff), color-stop(#00ceff), color-stop(#00e0ff), color-stop(#00f0fc), to(#00fff0));
  background-image: linear-gradient(to right top, #ee9dff, #d89eff, #c29fff, #aaa0ff, #92a0ff, #6fabff, #47b4ff, #00bcff, #00ceff, #00e0ff, #00f0fc, #00fff0);
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Varela Round", sans-serif;
  color: white;
}

.links {
  border-bottom: 2px solid black;
  height: 30px;
}

.header {
  max-width: 1200px;
  position: fixed;
  padding: 1.5em;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__homebtn {
  font-family: "Varela Round", sans-serif;
  color: white;
  text-decoration: none;
  margin: 1.5em;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20em;
}

.header__nav--item {
  font-family: "Varela Round", sans-serif;
  color: white;
  text-decoration: none;
  margin: 1.5em;
}

.homepage {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homepage__title {
  text-align: center;
  font-size: 5em;
  text-shadow: 3px 3px black;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  max-width: 700px;
}

.about__title {
  font-size: 3em;
  text-shadow: 3px 3px black;
  margin: 4em 0 2em 0;
}

.about__picture {
  height: 250px;
  width: 200px;
  border-radius: 25%;
  margin-bottom: 4em;
}

.about__content {
  line-height: 1.5em;
  text-align: left;
  max-width: 700px;
}

.experience {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience__title {
  font-size: 3em;
  text-shadow: 3px 3px black;
  margin: 4em 0 2em 0;
}

.experience__container {
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12em;
}

.experience__content {
  list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='-1 -1 2 2'><circle r='1' /></svg>");
  border-left: 2px solid black;
}

.experience__content--description {
  margin-left: 5px;
  max-width: 400px;
  margin-bottom: 10px;
  line-height: 1.5em;
  border-radius: 5px;
  padding: 10px;
}

.experience__content--year {
  font-weight: 700;
}

.education {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.education__title {
  font-size: 3em;
  text-shadow: 3px 3px black;
  margin: 4em 0 2em 0;
}

.education__container {
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12em;
}

.education__content {
  list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='-1 -1 2 2'><circle r='1' /></svg>");
  border-left: 2px solid black;
}

.education__content--description {
  margin-left: 5px;
  max-width: 400px;
  margin-bottom: 10px;
  line-height: 1.5em;
  border-radius: 5px;
  padding: 10px;
}

.education__content--year {
  font-weight: 700;
}

.skills {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__title {
  font-size: 3em;
  text-shadow: 3px 3px black;
  margin: 4em 0 2em 0;
}

.skills__container {
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__skill {
  line-height: 1.5em;
  margin-bottom: 1em;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 3em;
}

.yes {
  background-color: white;
}

.contact {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__title {
  font-size: 3em;
  text-shadow: 3px 3px black;
  margin: 4em 0 2em 0;
}

.contact__container {
  max-width: 700px;
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.5em;
  margin-bottom: 2em;
}

.contact__content--icon {
  height: 50px;
  margin-right: 2em;
}

.contact__content--link {
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */